/*
    name: bruce y phommaly
    student id: 14215222
    date: 04/12/17
*/

div {
    margin: 0 auto;
    border: solid 1px;
    background-color: ghostwhite;
    width: 420px;
    text-align: center;
}

h1 {
    text-align: center;
}

button {
    background-color: royalblue;
    color: white;
    width: 100px;
    height: 25px;
    border: solid 1px;
    margin: 0 auto;
    
}

p {
    text-align: center;
}
